.Workspace{
    overflow-x: hidden;
}

.list{
    padding: 20px;
}
ul{
    font-family: 'Noto Sans', sans-serif;
    color:#eee;
    font-weight: bold;
}

ul li{
    
    font-family: 'Noto Sans', sans-serif;
    color:#eee;
    font-weight: initial;
}